<!-- including header -->
<%- include("header") -%>

    <!-- including css -->
    <link rel="stylesheet" href="categories.css">

    <main>

    </main>


    <!-- including footer -->
    <%-include("footer")%>