<link rel="stylesheet" href="../static/css/footer.css" />

<!-- footer section -->

<footer >
  <!-- top container -->
  <div class="container">
    <!-- footer categories -->
    <div  class="footer-categories flex">
      <h1>Categories</h1>
      <ul class="footer-links">
        <li><a href="">C</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">JavaScript</a></li>
        <li><a href="">Node.js</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">JavaScript</a></li>
        <li><a href="">Node.js</a></li>
        <li><a href="">ejs</a></li>
        <li><a href="">C</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">JavaScript</a></li>
        <li><a href="">Node.js</a></li>
        <li><a href="">ejs</a></li>
        <li><a href="">C</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">JavaScript</a></li>
        <li><a href="">Node.js</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">JavaScript</a></li>
        <li><a href="">Node.js</a></li>
        <li><a href="">ejs</a></li>
      </ul>
    </div>
    <!-- content -->
    <div  class="content">
      <!-- about section -->
      <div class="about flex">
        <h1>About</h1>
        <p class="text-justify">
          Futurisers.com CODE WANTS TO BE SIMPLE is an initiative to help the
          upcoming programmers with the code. Scanfcode focuses on providing the
          most efficient code or snippets as the code wants to be simple. We
          will help programmers build up concepts in different programming
          languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript,
          PHP, Android, SQL and Algorithm.
        </p>
      </div>
    </div>

    <!-- quick links -->
    <div  class="quick-links flex">
      <h1>Quick Links</h1>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Contribute</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
  </div>

  <!-- bottom container -->
  <div class="bottom-container">
    <div class="content">
      <!-- copyright -->
      <div class="copyright">
        Copyright &copy; 2017 All Rights Reserved by Scanfcode.
      </div>
      <div class="social-links">
        <ul>
          <!-- facebook -->
          <li>
            <a href="#">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <!-- instagram -->
          <li>
            <a href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <!-- twitter -->
          <li>
            <a href="#">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <!-- youtube -->
          <li>
            <a href="#">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>