
$yellow: rgb(253, 253, 224);
$ghost-white: #F7F7FBff;

// aside: 

$light-violet:#433370;

// hover: 

$dark-violet: #302A5A;

// bg: 

$darker-violet:#1F203F;

// font: 

$lighter-violet:#AC98CE;

// sidebar: 

$soft-blue:#383D5B;

// sidehover: 

$soft-dark-blue:#2D2F46;


$blue:#003580;
$red:#611310;
$dark-red:#210409;


$green:#008000;
$dark-green:#004d00;



$white: #FFFFFF;
 $blue: #0e2b49;
 $purple: #4200397c;
 $crimson: #D72638;
 $snow: #f0f0f0;
 $black: #0C1618;