@import "./_colorCode";
.categories {
    display: none;
}

// alert box
.alert {
    border-left: 0.5rem solid red;
    .alert-container {
        color: red;
        .icon {
            background: red;
        }
    }
    .progress {
        background: red;
    }
}

.animation {
    position: relative;
    z-index: 1;
    top: 25rem;
    left: 20%;
    img {
        position: absolute;
        transition: 0.4s;
    }
    .bg {
        opacity: 0.2;
        width: 45rem;
        animation: bg 4s ease-in-out infinite;
    }
    .bag {
        transform: translate(3rem, 20rem);
        width: 7rem;
        animation: bag 4s ease-in-out infinite;
    }
    .girl {
        width: 30rem;
        left: 1.5%;
        animation: girl 4s ease-in-out infinite;
        animation-delay: -2s;
    }
    .tulip {
        width: 15rem;
        transform: translate(35rem, 12rem);
        animation: tulip 4s ease-in-out infinite;
        animation-delay: -5s;
    }
}
@keyframes bg {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(2rem);
    }
}
@keyframes bag {
    0%,
    100% {
        transform: translate(3rem, 17rem);
    }
    50% {
        transform: translate(3rem, 21rem);
    }
}
@keyframes girl {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(2rem);
    }
}
@keyframes tulip {
    0%,
    100% {
        transform: translate(35rem, 12rem);
    }
    50% {
        transform: translate(35rem, 15rem);
    }
}
// form container
.form-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    // z-index: -1;

    // sign in form
    #sign-in-form {
        position: absolute;
        width: 25%;
        height: 60%;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.1);
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        border-radius: 1rem;
        background: $white;
        transform-origin: center center;
        transform: translateX(30rem);
        animation: pop_up 1s ease;
        h2 {
            color: $black;
            position: absolute;
            top: 7%;
            font-size: 5rem;
            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
                height: 4px;
                background: $black;
            }
        }
        .form-input {
            position: relative;
            top: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 0rem 3rem;
            div {
                position: relative;
                width: 100%;
                margin-top: 5rem;
                label {
                    position: absolute;
                    left: 0;
                    font-size: 1.3rem;
                    font-weight: 300;
                    padding: 1rem 0rem;
                    color: $black;
                    transition: 0.3s;
                    z-index: -1;
                }
                input {
                    position: relative;
                    width: 100%;
                    outline: none;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid $black;
                    padding: 1rem 0rem;
                    color: $black;
                    transition: 0.3s;

                    &:focus {
                        border-bottom: 1px solid $black;
                    }
                }

                input:focus ~ label,
                input:valid ~ label,
                input:checked ~ label {
                    transform: translateY(-2rem);
                    color: $black;
                    font-size: 1rem;
                }

                i {
                    position: absolute;
                    color: $black;
                    font-size: 1.5rem;
                    right: 1rem;
                    bottom: 1.5rem;
                }
                .password {
                    padding-right: 3.5rem;
                }
                .fa-eye-slash {
                    display: none;
                }
                .fa-eye-slash,
                .fa-eye {
                    cursor: pointer;
                }
            }
        }
        button {
            position: relative;
            top: 8%;
            width: 90%;
            outline: none;
            background: transparent;
            border: 1px solid $crimson;
            background: $crimson;
            border-radius: 1rem;
            margin: 2rem;
            padding: 1rem;
            font-size: 2rem;
            font-weight: 600;
            color: $white;
            transition: 0.4s;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 1.5rem $crimson;
            }
        }
        .text {
            position: relative;
            top: 5.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            span {
                color: $black;
                font-size: 1.5rem;
                padding: 0.5rem;
                #forget-password,
                #create-account {
                    font-size: 1.5rem;
                    // text-decoration: none;
                    cursor: pointer;
                    color: $blue;
                    padding: 0.5rem;
                }
            }
        }
    }
}
@keyframes pop_up {
    0% {
        height: 0%;
    }

    100% {
        height: 60%;
    }
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

// 320px — 480px: Mobile devices
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .animation {
        display: none;
    }

    .form-container {
        #sign-in-form {
            width: 90%;
            height: 70%;
            transform: translate(0, 1rem);
            h2 {
                font-size: 3rem;
            }
            .form-input {
                top: 0;
                div {
                    i {
                        font-size: 1.2rem;
                    }
                }
            }
            button {
                width: 30%;
                top: 4%;
            }
            .text {
                top: 3.5rem;
            }
        }

    }
}

// 481px — 768px: iPads, Tablets
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .animation {
        display: none;
    }
    .form-container {
        
        #sign-in-form {
            width: 70%;
            height: 75%;
            transform: translate(0, 1rem);
            h2 {
                font-size: 3rem;
            }
            .form-input {
                div {
                    i {
                        font-size: 1.4rem;
                    }
                }
            }
            button {
                width: 30%;
            }
            .text {
                top: 3.5rem;
               
            }
        }

    }
}

// 769px — 1024px: Small screens, laptops
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .animation {
       display: none;
    }

    
    .form-container {
        
        #sign-in-form {
            top: 18rem;
            width: 45%;
            height: 70%;
            transform: translate(12rem, -5rem);
            h2 {
                font-size: 3rem;
            }
            .form-input {
                top: 0;
                div {
                    i {
                        font-size: 1.4rem;
                    }
                }
            }
            button {
                width: 25%;
                top: 5%;
            }
            .text {
                top: 3.5rem;
               
            }
        }

        
    }
}

// 1025px — 1200px: Desktops, large screens
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .animation {
        left: 21.5%;
        .bg {
            width: 35rem;
        }
        .bag {
            width: 5rem;
        }
        .girl {
            width: 20rem;
            left: 3.5%;
        }
        .tulip {
            width: 10rem;
            left: -10rem;
            transform: translate(20rem, 12rem);
        }
    }
  

    .form-container {
      
        #sign-in-form {
            width: 40%;
            height: 60%;
            transform: translate(28rem, 3rem);
            h2 {
                font-size: 3rem;
            }
            .form-input {
                top: 0;
                div {
                    i {
                        font-size: 1.8rem;
                    }
                }
            }
            button {
                width: 25%;
                top: 4%;
            }
            .text {
                top: 3.5rem;
               
            }
        }
    }
}
