.categories {
  display: none;
}

.blog {
  position: relative;
  width: 70%;
  transform: translateX(10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.blog .card {
  margin: 10rem 0;
  width: 80%;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.blog .card .show-date {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border: 0.8rem solid linear-gradient(#5a0e3a, #49093b);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.blog .card .show-date #date {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(#5a0e3a, #49093b);
  font-family: "Oswald", sans-serif;
  color: #FFFFFF;
  font-size: 3.5rem;
  padding: 0rem 1rem;
  line-height: 1.3;
  font-weight: 500;
}
.blog .card .card-content #content-img {
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.blog .card .card-content #title {
  position: relative;
  padding: 0.7rem 2rem;
  width: 90%;
  margin: auto;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  font-weight: 400;
  color: #FFFFFF;
  overflow: hidden;
}
.blog .card .card-content #description {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  color: #FFFFFF;
  line-height: 3rem;
  text-align: justify;
  padding: 2rem 4rem;
  font-size: 1.6rem;
}
.blog .card .card-content #description img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.blog .card .card-content .bookmark {
  font-size: 1.8rem;
  position: relative;
  right: -10rem;
  color: #FFFFFF;
}
.blog .card .card-content .data {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  top: 2%;
  color: #FFFFFF;
}
.blog .card .card-content .data #authore {
  position: relative;
  justify-content: start;
  width: 50%;
  letter-spacing: 1px;
  font-size: 1rem;
}
.blog .card .card-content .data #authore #authore-image {
  margin-right: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.blog .card .card-content .data #time {
  font-size: 1rem;
}
.blog .feelings {
  position: relative;
  width: 80%;
  margin: auto;
}
.blog .feelings .like {
  justify-content: start;
}
.blog .feelings .like i {
  font-size: 1.7rem;
  cursor: pointer;
  color: #FFFFFF;
}
.blog .feelings .like #totalLikes {
  padding-left: 1rem;
  font-size: 1.7rem;
  color: #FFFFFF;
}
.blog .feelings #login-text {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  color: #FFFFFF;
}
.blog .feelings #login-text a {
  color: #efff94;
}
.blog .comment-container {
  position: relative;
  width: 83%;
  margin: 2rem auto;
}
.blog .comment-container .comments {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blog .comment-container .comments .comment-content {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(4rem);
          backdrop-filter: blur(4rem);
  width: 100%;
  margin: 1rem 0;
  color: #f7f7fb;
}
.blog .comment-container .comments .comment-content .reply-content {
  margin: 1rem 0;
  width: 90%;
  position: relative;
  left: 5%;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(4rem);
          backdrop-filter: blur(4rem);
  display: flex;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  align-items: center;
}
.blog .comment-container .comments .comment-content .reply-content .user-data {
  position: relative;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog .comment-container .comments .comment-content .reply-content .user-data #user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.blog .comment-container .comments .comment-content .reply-content .comment {
  width: 85%;
  padding: 2rem;
  padding-left: 0;
}
.blog .comment-container .comments .comment-content .reply-content .comment #user-name {
  font-size: 1.2rem;
  color: #93e1d8;
}
.blog .comment-container .comments .comment-content .reply-content .comment p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.blog .comment-container .comments .comment-content .reply-content .comment #reply-btn {
  position: relative;
  left: 90%;
  font-size: 1.2rem;
  cursor: pointer;
}
.blog .comment-container .comments .comment-content .comment-reply-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.blog .comment-container .comments .comment-content .comment-reply-container .user-data {
  position: relative;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog .comment-container .comments .comment-content .comment-reply-container .user-data #user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.blog .comment-container .comments .comment-content .comment-reply-container .comment {
  width: 85%;
  padding: 2rem;
  padding-left: 0;
}
.blog .comment-container .comments .comment-content .comment-reply-container .comment #user-name {
  font-size: 1.2rem;
  color: #93e1d8;
}
.blog .comment-container .comments .comment-content .comment-reply-container .comment p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.blog .comment-container .comments .comment-content .comment-reply-container .comment #reply-btn {
  position: relative;
  left: 90%;
  font-size: 1.2rem;
  cursor: pointer;
}
.blog .comment-container .comments .comment-content .comment-reply-container #reply-toggol {
  position: relative;
  width: 7rem;
  top: 3rem;
  left: -1rem;
  background: none;
  border: none;
  outline: none;
  color: #FFFFFF;
  cursor: pointer;
}
.blog .comment-container .comments .comment-content .reply-input-box {
  position: relative;
  width: 90%;
  height: 5rem;
  left: 5%;
  margin-top: 1rem;
}
.blog .comment-container .comments .comment-content .reply-input-box #reply {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  overflow: hidden;
  overflow-y: scroll;
  resize: none;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
}
.blog .comment-container .comments .comment-content .reply-input-box #reply::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.blog .comment-container .comments .comment-content .reply-input-box #reply:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.blog .comment-container .comments .comment-content .reply-input-box #reply::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.blog .comment-container .comments .comment-content .reply-input-box #reply-send {
  position: absolute;
  font-size: 1.5rem;
  bottom: 45%;
  right: 2%;
  color: #FFFFFF;
  transform: rotate(45deg);
  cursor: pointer;
}
.blog .comment-container .comments .comment-content .reply-input-box.active {
  display: inherit;
}
.blog .comment-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.blog .comment-box #comment {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 1rem;
  outline: none;
  resize: none;
  padding: 1rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}
.blog .comment-box #comment::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.blog .comment-box #comment:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.blog .comment-box #comment::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.blog .comment-box #comment-send {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  cursor: pointer;
  color: #FFFFFF;
}
.blog .recent-post {
  width: 80%;
  position: relative;
  left: 0;
}
.blog .recent-post .h1 {
  text-align: left;
}
.blog .recent-post .h1::after {
  bottom: -1%;
  left: 0%;
  transform: rotateX(0);
}
.blog .recent-post .recent-post-container {
  position: relative;
  width: 100%;
  gap: 2rem;
}
.blog .recent-post .recent-post-container a {
  position: relative;
  width: 20%;
  text-decoration: none;
}
.blog .recent-post .recent-post-container a .recent-post-card {
  position: relative;
  width: 100%;
  height: 20rem;
  margin: 1rem 0;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.blog .recent-post .recent-post-container a .recent-post-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
}
.blog .recent-post .recent-post-container a .recent-post-card .recent-post-thumbnail {
  position: relative;
  width: 100%;
  height: 50%;
}
.blog .recent-post .recent-post-container a .recent-post-card .recent-post-thumbnail img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.blog .recent-post .recent-post-container a .recent-post-card .recent-post-content {
  position: relative;
  width: 100%;
  padding: 1rem;
  color: #FFFFFF;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-between;
}
.blog .recent-post .recent-post-container a .recent-post-card .recent-post-content .utils {
  position: relative;
  width: 100%;
  justify-content: space-between;
}
.blog .recent-post .recent-post-container a .recent-post-card .recent-post-content .utils .recent-post-date {
  color: rgba(255, 255, 255, 0.7);
}
.blog .recent-post .recent-post-container a .recent-post-card .recent-post-content .recent-post-title {
  margin-top: 1rem;
  max-width: 100%;
  height: 4rem;
  font-weight: 450;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}/*# sourceMappingURL=singlePost.css.map */